#include "Resource.h"
#include <winresrc.h>

IDI_APPICON ICON "kestrel.ico"

IDA_MAIN ACCELERATORS
BEGIN
    "C",    IDM_EDIT_COPY,      VIRTKEY, CONTROL
    "X",    IDM_EDIT_CUT,       VIRTKEY, CONTROL
    "V",    IDM_EDIT_PASTE,     VIRTKEY, CONTROL
    "A",    IDM_EDIT_SELECTALL, VIRTKEY, CONTROL
    VK_RETURN, IDM_FILE_PROPERTIES, VIRTKEY, ALT
    "L",    IDM_GO_ADDRESSBAR,  VIRTKEY, CONTROL
    "F",    IDM_EDIT_FIND,       VIRTKEY, CONTROL
    "T",    IDM_TAB_NEW,        VIRTKEY, CONTROL
    "W",    IDM_TAB_CLOSE,      VIRTKEY, CONTROL
    "T",    IDM_VIEW_TREE,      VIRTKEY, CONTROL, SHIFT
    "U",    IDM_VIEW_SINGLEPANE, VIRTKEY, CONTROL
    VK_F5,  IDM_FILE_COPY,      VIRTKEY
    VK_F6,  IDM_FILE_MOVE,      VIRTKEY
    VK_F7,  IDM_FILE_MKDIR,     VIRTKEY
    VK_F8,  IDM_FILE_DELETE,    VIRTKEY
    VK_F2,  IDM_FILE_RENAME,    VIRTKEY
    VK_F3,  IDM_FILE_VIEW,      VIRTKEY
    VK_F4,  IDM_FILE_EDIT,      VIRTKEY
    VK_LEFT,  IDM_GO_BACK,      VIRTKEY, ALT
    VK_RIGHT, IDM_GO_FORWARD,   VIRTKEY, ALT
    VK_UP,    IDM_GO_UP,        VIRTKEY, ALT
    VK_TAB,   IDM_TAB_NEXT,     VIRTKEY, CONTROL
    VK_TAB,   IDM_TAB_PREV,     VIRTKEY, CONTROL, SHIFT
END

1 24 "kestrel.manifest"
