#include "Resource.h"
#include "Version.h"
#include <winresrc.h>

IDI_APPICON ICON "kestrel.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION KESTREL_VERSION_MAJOR,KESTREL_VERSION_MINOR,KESTREL_VERSION_PATCH,0
 PRODUCTVERSION KESTREL_VERSION_MAJOR,KESTREL_VERSION_MINOR,KESTREL_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Kestrel"
            VALUE "FileDescription", "Kestrel"
            VALUE "FileVersion", KESTREL_VERSION_STRING
            VALUE "InternalName", "kestrel"
            VALUE "OriginalFilename", "kestrel.exe"
            VALUE "ProductName", "Kestrel"
            VALUE "ProductVersion", KESTREL_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

IDA_MAIN ACCELERATORS
BEGIN
    "C",    IDM_EDIT_COPY,      VIRTKEY, CONTROL
    "X",    IDM_EDIT_CUT,       VIRTKEY, CONTROL
    "V",    IDM_EDIT_PASTE,     VIRTKEY, CONTROL
    "A",    IDM_EDIT_SELECTALL, VIRTKEY, CONTROL
    "Z",    IDM_EDIT_UNDO,      VIRTKEY, CONTROL
    VK_RETURN, IDM_FILE_PROPERTIES, VIRTKEY, ALT
    "L",    IDM_GO_ADDRESSBAR,  VIRTKEY, CONTROL
    "F",    IDM_EDIT_FIND,       VIRTKEY, CONTROL
    "T",    IDM_TAB_NEW,        VIRTKEY, CONTROL
    "W",    IDM_TAB_CLOSE,      VIRTKEY, CONTROL
    "T",    IDM_VIEW_TREE,      VIRTKEY, CONTROL, SHIFT
    "U",    IDM_VIEW_SINGLEPANE, VIRTKEY, CONTROL
    "H",    IDM_VIEW_HIDDEN,     VIRTKEY, CONTROL
    VK_F5,  IDM_FILE_COPY,      VIRTKEY
    VK_F6,  IDM_FILE_MOVE,      VIRTKEY
    VK_F7,  IDM_FILE_MKDIR,     VIRTKEY
    VK_F8,  IDM_FILE_DELETE,    VIRTKEY
    VK_F2,  IDM_FILE_RENAME,    VIRTKEY
    VK_F3,  IDM_FILE_VIEW,      VIRTKEY
    VK_F4,  IDM_FILE_EDIT,      VIRTKEY
    VK_LEFT,  IDM_GO_BACK,      VIRTKEY, ALT
    VK_RIGHT, IDM_GO_FORWARD,   VIRTKEY, ALT
    VK_UP,    IDM_GO_UP,        VIRTKEY, ALT
    VK_TAB,   IDM_TAB_NEXT,     VIRTKEY, CONTROL
    VK_TAB,   IDM_TAB_PREV,     VIRTKEY, CONTROL, SHIFT
END

1 24 "kestrel.manifest"
